/*Import FONT from GOOGLEAPI*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* --- CSS VARIABLES --- */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/var */
:root {
  --text-color: #090a0a;
}

body {
  padding: 50px;
  font: 14px "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: var(--text-color);
}
.calendarbar {
  display: flex;
  width: 100%;
}
.datebox {
  display: flex;
  flex-direction: column;
  width: 50px;
}

.day,
.month {
  padding: 5px;
  border: 1px solid var(--text-color);
  text-align: center;
}

.classname {
  font-weight: 700;
}

.classcontainer {
  height: auto;
}
/* ---------------------- */
nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

#schedule-date {
  text-transform: uppercase;
}
