body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.calendarbar {
  display: flex;
  width: 100%;
}
.datebox {
  display: flex;
  flex-direction: column;
  width: 50px;
}

.day,
.month {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
}
