@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* --- CSS VARIABLES --- */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/var */
:root {
  --text-color: white;
}

body {
  background-color: black;
  color: white;
  font: 14px "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
button:focus {
  outline:0;
}
h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin-left: 25px;
}
h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
/* --CALENDAR / CLASSES STYLING------------------------------------- */
.header-calendar {
  height: 90px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #666666;
  position: fixed;
  top: 0;
  width: 100vw;
}
.calendarbar {
  display: flex;
}
.datebox {
  display: flex;
  flex-direction: column;
  width: 50px;
}
.daysBtnOn {
  width: 40px;
  height: 40px;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  background-color: #FF0066;
  border-radius: 20px;
  border: none;
  z-index: 1;
}
.daysBtnOff {
  width: 40px;
  height: 40px;
  font-style: normal;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #E5E5E5;
  background-color: black;
  border-radius: 20px;
  border: none;
  z-index: 0;
}
.day,
.month {
  padding: 5px;
  text-align: center;
}
.classname {
  font-weight: 700;
}
.classcontainer {
  height: auto;
}
.btn-container {
  width: 100vw;
  position: fixed;
  bottom: 100px;
  margin-left: 0 auto;
  display: flex;
  justify-content: center;
}
.btn-container button {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  width: 164px;
  height: 60px;
  background: #c4c4c4;
  border-radius: 60px;
  border: none;
}
/* HEADER STYLE ----------------------------------- */
.header {
  height: 90px;
  background-color: black;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #666666;
  position: fixed;
  top: 0;
  width: 100vw;
}
/* END of HEADER STYLE ----------------------------- */
/* NAV / FOOTER STYLING---------------------- */
nav {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  font-variant: small-caps;
  background-color: black;
  width: 100vw;
  height: 60px;
  border-top: 1px solid #666666;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  bottom: 0px;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
nav img {
  margin: 1px;
}
/* END of NAV / FOOTER------------------------------ */
/* SCHEDULE STYLING----------------------------- */
#schedule-date {
  text-transform: uppercase;
  margin: 5px 16px;
}
.scroll-container {
  position: absolute;
  top: 90px;
  overflow-y: scroll;
  z-index: -1;
}
.class-card {
  background-color: #333;
  margin-bottom: 1px;
  height: 90px;
  width: 100vw;
  display: flex;
  align-items: center;
}
.class-card div {
  margin-left: 16px;
}
.profile-pic img {
  width: 72px;
  height: auto;
  background-color: white;
  clip-path: circle(36px at center);
}
.small-info {
  width: 60vw;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}
.flechita {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
}

/* --------------------------- */

.filterShow {
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.filterHidden {
  display: none;
}
